<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" width="80%" border="0">
    <tr  >
        <td align="center">
            <img align="center" width="300" height="300" src="/assets/images/logo1.png">
        </td>
    </tr>
    <tr  >
        <td>
            <img align="center" width="300" height="300" src="/assets/images/logo1.png">
        </td>
    </tr>

    <tr >
        <td>
            <img align="center" width="300" height="300" src="/assets/images/logo1.png">
        </td>
    </tr>



</table>

</body>
</html>