.margin-top{
    margin: 35px;
}
.edit-box{
    height: 30px;
}

.material-icons{
   width: 20px;
   height: 20px;
}
.text{
    color: white;
    display: inline-block;
    margin: 20px;
    font-family: 'K2D', sans-serif;

}
table{
    margin-top:20px;

}
.text1{
    color: rgb(255, 187, 153);
    font-family: 'K2D', sans-serif;
    font-size: 50px;
    text-align: center;
}

.text2{
    color: #800000;
    font-family: 'K2D', sans-serif;
    font-size: 40px;
    text-align: left;
}
.main-c button{
    width: 120px;
    height:50px;
    font-family: 'K2D', sans-serif;
}
.form-control{
        background-color: gray;
        font-family: 'K2D', sans-serif;
<<<<<<< HEAD

}
.gg{
    color: #800000;
        font-family: 'K2D', sans-serif;
        margin-top: 35px;
}

=======
}
.Aom1{
    color: rgb(51, 153, 255);
    font-family: 'K2D', sans-serif;
    font-size: 50px;
    text-align: center;
}
>>>>>>> 3f31614c8e66fc9ba12c4565786b8c2db69c605a
